[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django= "*"
django-cors-headers= "*"
djangorestframework= "*"
mysqlclient= "*"
django-mysql= "*"
PyJWT= "*"
django-dotenv= "*"
django-rest-swagger= "*"
pre-commit = "*"

[dev-packages]

[requires]
python_version = "3.10"
